<div class="container">
  <!--Application main title-->
  <div class="row">
    <div class="container text-left">
      <h2 id="main-title">TuSegundazo.com</h2>
    </div>
  </div>
  <hr>
  <div class="row">
    <!--Application main image-->
    <div class="container">
      <img src="https://drive.google.com/uc?export=view&id=1H00CpAtCv7mqzk9x3TV_TbVjZXeqlh4C" class="img-fluid"
        alt="Banner App TuSegundazo.com" />
    </div>
  </div>
  <hr>
  <!--Data table-->
  <div class="row">
    <div class="container table-margin">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="th-style" cope="row">#</th>
            <th class="th-style" cope="row">Marca</th>
            <th class="th-style" cope="row">Línea</th>
            <th class="th-style" cope="row">Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehiculo of vehiculos, let indexVehiculo = index">
            <th scope="row">{{ indexVehiculo + 1 }}</th>
            <td id="vehicle-brand">{{ vehiculo.marca }}</td>
            <td id="vehicle-line">{{ vehiculo.linea }}</td>
            <td id="vehicle-model">{{ vehiculo.modelo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Summary of brands-->
    <div class="row" id="summary-brands">
      <div class="container-fluids">
        <p *ngFor="let marca of listMarcas"><strong>Total {{ marca[0] }}:</strong> {{ marca[1] }}</p>
      </div>
    </div>
  </div>

  <!--Application footer-->
  <div class="row">
    <div class="container" id="application-footer">
      <footer>
        <div class="text-center">
          Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo
        </div>
      </footer>
    </div>
  </div>
</div>